.update-board-update-h1 {
    font-weight: 300;
    color: white
}

.update-board-select-label {
    font-family: 'Helvetica Neue' !important; 
    text-align: left;
}

.update-board-select-options {
    font-family: 'Helvetica Neue' !important; 
    font-weight: 300;
    font-size: 3vmin
}