.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.new-baby-step-h1 {
    font-family: 'Helvetica Neue';
    font-weight: 300;
    color: white;
}

.new-baby-step-select-label {
    font-family: 'Helvetica Neue' !important; 
    text-align: left;
}

.new-baby-step-form-select-input {
    font-family: 'Helvetica Neue' !important; 
    font-weight: 300;
    font-size: 3vmin
}