.custom-p {
    margin: 0;
    padding: 0;
}

.board-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    align-content: space-around;

}
.board-card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.board-card-info {
    flex-direction: column;
    width: 50%;
    margin: 2% 1% 1% 1%;
}

.board-card-header-title {
    text-align: start;
    margin: 2rem 1rem 1rem 1rem;
}

.board-card-title-text {
    font-size: 3rem;
    font-weight: 300;
    color: #7dBDCB;
    padding: 0;
    margin: 0;

}
.board-card-header-description {
    text-align: start;
    font-weight: 300;
    margin: 1rem
}

.board-card-description-text {
    font-size: 1.5rem;
    color: #7dBDCB;
    padding: 0;
    margin: 0;

}

.board-card-people {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    margin: 5rem 2.5% 0 0;
    text-align: right;
}

.board-card-author {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1rem;
}

.board-card-author-details {
    font-size: 1rem;
    color: #7dBDCB;
    font-weight: 300;
    margin: 0;
    margin: 0 0 2% 0;
}

.board-card-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1rem;
}

.board-card-user-details {
    display: flex;
    justify-content: flex-end;
}

.board-card-user-container {
    margin: 0 0 0 3%
}
  
  
.board-card-users-info {
    font-size: 1.5rem;
    color: #7dBDCB;
    font-weight: 300;
    font-size: 1rem;
    margin: 0 0 2% 0;
}

.status-and-buttons {
    display: flex;
    flex-direction: row;
    width: 98%;
    margin: -1% 1% 0% 1%;
}

.board-card-status {
    width: 33%;
}

.board-card-status-text {
    font-size: 1.5rem;
    color: #7dBDCB;
    margin: .5rem;
    font-weight: 300;
}

.delete-button-div {
    display: flex;
    width: 33%;
    justify-content: flex-end;
    align-self: center;
    margin: 0 1% 0 0
    
}

.update-button-div {
    display: flex;
    width: 33%;
    justify-content: flex-start;
    align-self: center;
    margin: 0 0 0 1%
}

.update-button {
    font-family: 'Helvetica Neue';
    font-weight: 300;
    height: 35px;
    font-size: .75rem;
    background-color: #74BDCB;
    border: solid #74BDCB 1px;
    color: white;
    padding: 0 1rem;
}
.update-button:hover {
    font-family: 'Helvetica Neue';
    font-weight: 300;
    height: 35px;
    font-size: .75rem;
    background-color: white;
    border: solid #74BDCB 1px;
    color: #74BDCB;
    padding: 0 1rem;
}

.delete-button {
    font-family: 'Helvetica Neue';
    font-weight: 300;
    height: 35px;
    font-size: .75rem;
    border: solid #74BDCB 1px;
    background-color: #74BDCB;
    color: white;
    padding: 0 1rem;
}

.delete-button:hover {
    font-family: 'Helvetica Neue';
    font-weight: 300;
    height: 35px;
    font-size: .75rem;
    background-color: white;
    border: solid #74BDCB 1px;
    color: #74BDCB;
    padding: 0 1rem;

}

.nav-bar {
    display: '';
}