.board-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    align-content: space-around;

}
.board-card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.board-card-info {
    flex-direction: column;
    width: 50%;
    margin: 2% 1% 1% 1%;
}

.board-card-header-title {
    text-align: start;
    margin: 2rem 1rem 1rem 1rem;
}

.board-card-title-text {
    font-size: 3rem;
    font-weight: 300;
    color: #7dBDCB;
    padding: 0;
    margin: 0;

}
.board-card-header-description {
    text-align: start;
    font-weight: 300;
    margin: 1rem
}

.board-card-description-text {
    font-size: 1.5rem;
    color: #7dBDCB;
    padding: 0;
    margin: 0;

}

.board-card-people {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 50%;
    text-align: right;
    margin: 2% 1% 1% 1%;

}

.board-card-author-text {
    font-size: 1.5rem;
    color: #7dBDCB;
    margin: 1rem;
    font-weight: 300;
    text-align: right;
}

.board-card-users-text {
    font-size: 1.5rem;
    color: #7dBDCB;
    margin: 1rem;
    font-weight: 300;
    text-align: right;
}

.status-and-buttons {
    display: flex;
    flex-direction: row;
    width: 98%;
    margin: -1% 1% 0% 1%;
}

.board-card-status {
    width: 33%;
}

.board-card-status-text {
    font-size: 1.5rem;
    color: #7dBDCB;
    margin: .5rem;
    font-weight: 300;
}

.delete-button-div {
    display: flex;
    width: 33%;
    justify-content: flex-end;
    align-self: center;
    margin: 0 1% 0 0
    
}

.update-button-div {
    display: flex;
    width: 33%;
    justify-content: flex-start;
    align-self: center;
    margin: 0 0 0 1%
}

.update-button {
    height: 35px;
    font-size: .75rem;
    background-color: #74BDCB;
    border: solid #74BDCB 1px;
    color: white;
    padding: 0 1rem;
    font-weight: lighter;
}
.update-button:hover {
    height: 35px;
    font-size: .75rem;
    background-color: white;
    border: solid #74BDCB 1px;
    color: #74BDCB;
    padding: 0 1rem;
    font-weight: lighter;
}

.delete-button {
    height: 35px;
    font-size: .75rem;
    border: solid #74BDCB 1px;
    background-color: #74BDCB;
    color: white;
    padding: 0 1rem;
    font-weight: lighter;
}

.delete-button:hover {
    height: 35px;
    font-size: .75rem;
    background-color: #E7F2F8;
    border: solid #74BDCB 1px;
    color: #74BDCB;
    padding: 0 1rem;
    font-weight: lighter;

}

.nav-bar {
    display: '';
}